.container {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;
  backdrop-filter: blur(30px);
}

.nav {
  padding: 15px;
  height: 100%;
  margin: 0 auto;
  max-width: 100vw;
  overflow: auto;
}

.link {
  padding: 15px;
  white-space: nowrap;
}

.link:hover {
  filter: drop-shadow(0 0 0.75rem crimson);
}

.link_active {
  filter: drop-shadow(0 0 0.75rem crimson);
}

.login_button {
  display: block;
  margin: 5px;
  padding: 8px 16px;
  white-space: nowrap;
  background: hsl(300, 10%, 30%);
  border: none;
  cursor: pointer;
  color: hsl(300, 50%, 80%);
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
}

.logout_button {
  display: block;
  margin: 5px;
  padding: 8px 16px;
  white-space: nowrap;
  background: hsl(300, 5%, 25%);
  border: none;
  cursor: pointer;
  color: hsl(300, 10%, 70%);
  font-family: inherit;
  font-size: 16px;
  border-radius: 5px;
}